<!doctype html>
<html>
  <body>
     <table border = 1>
         <th>ID</th>
         <th>Name</th>
         <th>City</th>
         <th>Address</th>
        {% for student in students %}
           <tr>
              <td> {{ student.id }} </td>
              <td> {{ student.name }} </td>
              <td> {{ student.city }} </td>
              <td> {{ student.address }} </td>
           </tr>
        {% endfor %}
     </table>
  </body>
</html>
